<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Website</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li> -->
        </ul>
        <div class="form-inline d-flex my-2 my-lg-0">
            <div  class="p-2">

                <a href="/Dashboard">Dashboard</a>
            </div>
            <div  class="p-2">

                <a href="/Blogs">Blog</a>
            </div>
            <div class="p-2" >
                
                <a href="/Article">article</a>
            </div>
            <div class="p-2" >
            <button class="btn btn-lg btn-danger"
                onclick="Logout()">Logout</button>
            </div>
        </div>
    </div>
</nav>
<script>
           function Logout() {
            localStorage.removeItem("user")
            localStorage.removeItem("useremail")
            localStorage.removeItem("usertype")
            alert("Logout Successfully..!")
            window.location.reload()

        }
</script>